.containerNotif{
    height: 100%;
    width: 100%;
}

.notifications{
    margin-bottom: 7vh;
    margin-top: -8vh;
    font-size: 3vh;
}

.notList{
    display: flex;
    text-align: center;
    justify-content: center;
    border: 3px solid rgb(46, 46, 255);
    background-color: rgba(140, 140, 255, 0.321);
    border-radius: 10px;
    width: 75vw;
    height: 60vh;
    margin: 0px 0px 4vh 0px;
}