.PrimaryContainer {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 500px;
  padding: 3vh;
}
.title {
  color: rgb(0, 153, 255);
  width: max-content;
  height: max-content;
  margin: 0px 5vw;
  font-size: 4vh;
}
.menu {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.optionsSettings {
  width: 50%;
  height: 100%;
}
.switchBtn {
  margin-left: 1vw;
}
