.mainForm {
  align-items: center;
  justify-content: center;
}

.submitBtn {
  background-color: blue;
  color: white;
  width: 100%;
}

input {
  text-indent: 5px;
}
.passwordLabel {
  color: red;
  font-size: 1vw;
}